@using Microsoft.AspNetCore.Identity
@inject SignInManager<VideoUser> SignInManager
@inject UserManager<VideoUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    // Signed in user
    <form method="post" asp-controller="Account" asp-action="Logout">
        @User.Identity.Name
        <input type="submit" value="Logout" class="btn btn-danger" />
    </form>
}
else
{
    // Anonymous user
    <li class="nav-item">
        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-dark mr-sm-1">Login</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Account" asp-action="Register" class="btn btn-outline-success">Register</a>
    </li>
}