@model IEnumerable<VideoViewModel>

@{
    ViewBag.Title = "Home";
}

<div class="card-deck mt-3">
    @foreach (var video in Model)
    {
        <partial name="_VideoPartial" model="video" />
    }
</div>

<div>
    <a asp-action="Create" class="btn btn-success">Create</a>
</div>